*{
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
}
.wrapper .description {
    width: 100vh;
    flex: 8;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.wrapper .selection{
    width: 100vh;
    flex: 4;
}
.text h1{
    display: inline;
    background-color: black;
    color: white;
    font-size: 4em;
}

.text h2{
    font-size: 2em;
    margin: 20px 0;
}

